body {
  font-family: "Source Sans Pro";
}

#search {
  width: 584px;
  height: 38px;
  border: auto;
  border: solid 1px #ccc;
  border-radius: 25px;
  margin-top: 1.8%;
  font-size: medium;
  outline:none;
}

#search:focus{
    border-color: black;
}

#logo {
  width: 272px;
  height: 92px;
  margin-top: 16%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.links a {
  text-decoration: none;
  color: #5f6369;
  padding: 0 13px 0 13px;
}

.links a:hover{
    text-decoration: underline;
}

hr{
    margin-top: 322px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.buttons {
  border: none;
  background: none;
  width: 150px;
  height: 40px;
  font-size: small;
  margin-top: 30px;
}

.buttons:hover {
  border: 1px outset black;
  border-radius: 3%;
}

#searchBut {
  margin-left: 38%;
}

#luckyBut {
  margin-right: 38%;
}



ul {
  list-style-type: none;
  margin-top: -7px;
  margin-left: -20px;
  font-size: 15px;
  background-color: #f2f2f2;
}

li.left{
  display: inline;
  float:left;
}

li.right{
  display: inline;
  float:right;
}

#Set{
  margin-right: 15px;
}