body {
  font-family: Arial, sans-serif;
}

#search {
  width: 584px;
  height: 40px;
  border: auto;
  border: solid 1px #e5e5e6;
  border-radius: 25px;
  margin-top: 1.8%;
  font-size: 14px;
  outline:none;
  padding-left: 40px;
}

#search:focus, #search:hover{
     border: 0.5px solid #9fa6a8;
}

.material-icons-outlined{
  position: absolute;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 300;
  left: 420px;
  top: 330px;
  font-size: 18px;
  color: #9aa0a6;
}
#logo {
  width: 272px;
  height: 92px;
  margin-top: 14%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.links a {
  text-decoration: none;
  color: #5f6369;
  padding: 0 13px 0 13px;
}

.links a:hover{
    text-decoration: underline;
}

.buttons {
  border: none;
  background: none;
  width: 150px;
  height: 37px;
  font-size: 14px;
  margin-top: 30px;
  background-color: #f2f2f2;
}

.buttons:hover {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

#searchBut {
  margin-left: 38%;
  
}

#luckyBut {
  margin-right: 38%;
}

ul {
  list-style-type: none;
  margin-left: -26px;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
  overflow: auto;
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

li.left{
  float:left;
}

li.right{
  float:right;
}

#Set{
  margin-right: 10px;
}
