body {
  font-family: Arial, sans-serif;
}

#search {
  width: 584px;
  height: 40px;
  border: auto;
  border: solid 0.5px #e7e9eb;
  border-radius: 25px;
  margin-top: 1.8%;
  font-size: 16px;
  outline: none;
  padding-left: 40px;
}

#search:focus,
#search:hover {
  border: 0.5px solid #9fa6a8;
}

.material-icons-outlined {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #9aa0a6;
}

#mainLogo {
  width: 272px;
  height: 92px;
  margin-top: 13.8%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  text-decoration: none;
  color: #5f6369;
  padding: 0 13px 0 13px;
}

.links a:hover {
  text-decoration: underline;
}

.searches {
  text-align: center;
}

.buttons {
  border: none;
  background: none;
  display: inline-block;
  min-width: 54px;
  height: 36px;
  font-size: 14px;
  margin-top: 30px;
  background-color: #f2f2f2;
  margin-inline: 5px;
  padding: 0 10px;
}

.buttons:hover {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.links ul {
  list-style-type: none;
  margin-left: -26px;
  font-size: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  overflow: auto;
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0%;
}

li.left {
  float: left;
}

li.right {
  float: right;
}

#Set {
  padding-right: 55px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li a {
  text-align: center;
  text-decoration: none;
  padding: 0 8px 0 8px !important;
}

.header {
  margin-top: 1.5%;
  margin-left: 5px;
  font-size: 14px;
  padding-right: 45px;
}

.header a:hover {
  text-decoration: underline;
}

#gmailLogo {
  position: absolute;
  margin-top: -1.8%;
  right: 20px;
  width: auto;
  max-width: 30px;
  height: auto;
  max-height: 30px;
  float: right;
}

.apps {
  font-size: 25px !important;
  margin-top: -3.5px !important;
}

.lens {
  position: relative;
  top: 10px;
}
